<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueOne</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>
        
        {{greeting}}
        <!-- <input  v-model="greeting"> -->
        <input v-model="greeting" @keyup.enter="greet(greeting)">
        <!-- <input v-model="greeting" v-on.backspace="toggleBox()"> -->
        <!-- <input v-model="greeting" v-on.backspace="toggleBox()"> -->


        <!-- <button v-on:click="isVisible = !isVisible">Show box</button> -->
        <button @click="toggleBox()" >Show box</button>
        <div class="box" v-if="isVisible"></div>
  
        <form >
            <input type="text" name="name" id="name">
            <!-- click.prevent.stop will not allow to reload the page -->
            <button @click.prevent.stop>login</button>
        </form>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script src="index.js"></script>
</body>
</html>