<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueOne</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>
        
        {{greeting}}
        <input type="text" v-model="greeting">
        <!-- vshow makes element display none -->
        <!-- <div class="box" v-show="isVisible"></div> -->
        <div class="box" v-if="isVisible"></div>
        <div class="two" v-else-if="isVisible2"></div>
        <div class="three" v-else></div>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script src="index.js"></script>
</body>
</html>